* {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

body {
    background-image: url(./Assets/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

Main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.image-1,
.image-2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    width: 200px; 
    height: 200px;
    margin-right: 25px; 
    margin-left: 25px;
}

.image-1 img,
.image-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.qrcode {
    margin-top: 10px;
}

footer {
    text-align: bottom;
    font-size: 20px;
}
